.IssuesRoot__main {
  margin: 3rem;
  display: grid;
  place-items: center;
}

.IssuesRoot__table {
  border-spacing: 0;
  border-radius: 1rem;
  border: 1px solid lightgray;
  overflow: hidden;
}

.IssuesRoot__table th,
.IssuesRoot__table td {
  padding: 1rem;
}

.IssuesRoot__table th {
  background: whitesmoke;
}

.IssuesRoot__table tr:hover {
  background: lavender;
}

.IssuesRoot__table_author_row {
  display: grid;
  place-items: center;
}
